Code/Server/docker/node-red-data/flows.json
[
    {
        "id": "c7015bd55ac9c57d",
        "type": "tab",
        "label": "Communication",
        "disabled": false,
        "info": "Various communication with devices",
        "env": []
    },
    {
        "id": "d974087eb4410441",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c23ead5f4cd17b6",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "For displaying various info",
        "env": []
    },
    {
        "id": "1292ba0fe2f33fc4",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dff9176621056133",
        "type": "group",
        "z": "c7015bd55ac9c57d",
        "name": "Control Cat",
        "style": {
            "label": true
        },
        "nodes": [
            "bb8e501cbe7d5d9d",
            "e4f62c1015b6a187",
            "e5c5cf0d6bb917c5",
            "bbd793f95ec63c3e",
            "b7af9e519ca5b9d7",
            "a2dec35c0fe9842d",
            "308f248214133e70",
            "8955a8be5e602442"
        ],
        "x": 34,
        "y": 79,
        "w": 672,
        "h": 302
    },
    {
        "id": "0591b57e8f20d00d",
        "type": "group",
        "z": "9c23ead5f4cd17b6",
        "name": "Styling",
        "style": {
            "label": true,
            "stroke": "#a4a4a4"
        },
        "nodes": [
            "dc1d7aadb5cf6f36"
        ],
        "x": 34,
        "y": 19,
        "w": 212,
        "h": 82
    },
    {
        "id": "f2952bbb2ad433e2",
        "type": "MySQLdatabase",
        "name": "TestDB",
        "host": "${DB_HOST}",
        "port": "${DB_PORT}",
        "db": "testdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "dc20097875203fb9",
        "type": "mqtt-broker",
        "name": "docker-mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed3a4854fa1b4db8",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "91be7011842be941",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#5c8192",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a20dc435c727eb9b",
        "type": "ui-page",
        "name": "Home",
        "ui": "ed3a4854fa1b4db8",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "91be7011842be941",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "78b509623ddc3923",
        "type": "ui-group",
        "name": "Control",
        "page": "a20dc435c727eb9b",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4880197e99519344",
        "type": "ui-page",
        "name": "Contact",
        "ui": "ed3a4854fa1b4db8",
        "path": "/contact",
        "icon": "home",
        "layout": "grid",
        "theme": "91be7011842be941",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d68e6862685d10df",
        "type": "ui-group",
        "name": "Ratings",
        "page": "4880197e99519344",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb8e501cbe7d5d9d",
        "type": "function",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "Keypress",
        "func": "var txt = flow.get(\"text\") || \"\";\ntxt = msg.payload\nmsg.payload = txt\nflow.set(\"text\", txt)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e4f62c1015b6a187",
                "e5c5cf0d6bb917c5",
                "8955a8be5e602442"
            ]
        ]
    },
    {
        "id": "e4f62c1015b6a187",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "e5c5cf0d6bb917c5",
        "type": "mqtt out",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "control",
        "topic": "car/control",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc20097875203fb9",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "5631cd8e37f10e5f",
        "type": "inject",
        "z": "c7015bd55ac9c57d",
        "name": "insert_user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "{\"d_score\":194}",
        "payloadType": "json",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "6eb947dff35c7a58"
            ]
        ]
    },
    {
        "id": "6eb947dff35c7a58",
        "type": "json",
        "z": "c7015bd55ac9c57d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "414f9ce98347a63b"
            ]
        ]
    },
    {
        "id": "414f9ce98347a63b",
        "type": "link out",
        "z": "c7015bd55ac9c57d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "34ea1d322de1ddc2"
        ],
        "x": 415,
        "y": 520,
        "wires": []
    },
    {
        "id": "bbd793f95ec63c3e",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "debug_keypress",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "b7af9e519ca5b9d7",
        "type": "comment",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "",
        "info": "<script>\n\n    \n    (function($scope) {\n    \n \n    console.log('Hello');\n\n    let keys = {};\n\n    document.addEventListener('keydown', (event) => {\n    if (event.repeat) return;\n    \n    if (event.key != \"CapsLock\") {\n        keys[event.key] = true;\n        let msg = {\"payload\": keys, \"topic\": \"keydown\"};\n        $scope.send(msg);\n    }\n    });\n\n    document.addEventListener('keyup', (event) => {\n    var keyName = event.key;\n    var keyCode = event.code;\n    delete keys[event.key];\n    let msg = {\"payload\": keys, \"topic\": \"keyup\"};\n    $scope.send(msg);\n\n    },{capture: true});\n    })(scope);\n</script>",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "a2dec35c0fe9842d",
        "type": "comment",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "",
        "info": "display here with \n\n{{msg.payload}}\n\nui_text",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "308f248214133e70",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "group": "78b509623ddc3923",
        "page": "",
        "ui": "",
        "name": "get_events",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Counter - loaded: {{ loaded }}</h2>\n        <p>Current Count: {{ count }}</p>\n        <p class=\"my-class\">Formatted Count: {{ formattedCount }}</p>\n        <!-- <v-btn @click=\"increase()\">Increment</v-btn> -->\n        <!-- <input @keyup.enter=\"increase\" /> -->\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                loaded: false,\n                count: 0\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            count: function () {\n                if (this.count % 5 === 0) {\n                    this.send({payload: 'Multiple of 5'})\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n            formattedCount: function () {\n                return `${this.count} Apples`\n            }\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n            increase: function () {\n                this.count++\n            },\n\n            onKeydown( event ) {\n                if (event.key === \"Escape\") {       \n                    console.log('hello esc ')\n                    this.increase()\n                }\n                if (event.key === \"w\") {\n                    console.log(\"w\")\n                    this.count++\n                }\n            }\n        },\n        mounted() {\n            // code here when the component is first loaded\n            document.addEventListener( \"keydown\", this.onKeydown );\n            this.loaded = true\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: red;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "bb8e501cbe7d5d9d",
                "bbd793f95ec63c3e"
            ]
        ]
    },
    {
        "id": "8955a8be5e602442",
        "type": "ui-text",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "group": "78b509623ddc3923",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "show_input",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "{{msg.payload}}",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "29614505de526e3e",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "d68e6862685d10df",
        "page": "",
        "ui": "",
        "name": "star_rating",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"text-center\">\n    <v-rating\n      hover :length=\"5\" :size=\"32\"\n      v-model=\"value\"\n      active-color=\"primary\"\n      @update:model-value=\"send({payload: value})\"\n    ></v-rating>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "7bb2d1e517ee8d24"
            ]
        ]
    },
    {
        "id": "7bb2d1e517ee8d24",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debugstar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "0dd2fd9545bda4ca",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "d68e6862685d10df",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div>\n    <v-progress-linear\n      color=\"yellow-darken-2\"\n      indeterminate\n    ></v-progress-linear>\n    <br>\n    <v-progress-linear\n      color=\"green\"\n      indeterminate\n    ></v-progress-linear>\n    <br>\n    <v-progress-linear\n      color=\"teal\"\n      indeterminate\n    ></v-progress-linear>\n    <br>\n    <v-progress-linear\n      color=\"cyan\"\n      indeterminate\n    ></v-progress-linear>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "0817f2202b3f46a9"
            ]
        ]
    },
    {
        "id": "0817f2202b3f46a9",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "4485a75d1a0f656c",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "78b509623ddc3923",
        "page": "",
        "ui": "",
        "name": "displaymsg",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Latest <code>msg</code> received:</h2>\n        <pre>{{ msg }}</pre>\n    </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "f7f0e15a2aa36350"
            ]
        ]
    },
    {
        "id": "f7f0e15a2aa36350",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "7caeb28ac2a0cba9",
        "type": "inject",
        "z": "c7015bd55ac9c57d",
        "name": "insert_user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "{\"d_score\":194}",
        "payloadType": "json",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "4485a75d1a0f656c"
            ]
        ]
    },
    {
        "id": "32d91f45c0238651",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "78b509623ddc3923",
        "page": "",
        "ui": "",
        "name": "custom_event",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n\n<v-btn @click=\"$socket.emit('ui-event', '3d103008e2349583', msg)\">Send Custom Event</v-btn>\n\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 1100,
        "wires": [
            [
                "d56752421e229ef8"
            ]
        ]
    },
    {
        "id": "d56752421e229ef8",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1d9c3b808be68e07",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "78b509623ddc3923",
        "page": "",
        "ui": "",
        "name": "socket_listen",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <!-- Any HTML can go here -->\n    <button class=\"my-class2\" onclick=\"onClick()\">My Button</button>\n</template>\n\n<script>\n    /* Write any JavaScript here */\n    // add our onClick function to the window object to make it accessible by the HTML <button>\n    window.onClick = function () {\n        alert('Button has been clicked')\n    }\n\n    // Use send() function to pass on data back into Node-RED:\n    this.send('Component has loaded')\n\n    // Subscribe to the incoming msg's\n    this.$socket.on('msg-input:' + this.id, function(msg) {\n        // do stuff with the message\n        alert('message received: ' + msg.payload + 'from' + this.id)\n    })\n</script>\n\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class2 {\n        color: green;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "d64de82239fb1bbd"
            ]
        ]
    },
    {
        "id": "d64de82239fb1bbd",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9089e3c94b2ce382",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "group": "",
        "page": "4880197e99519344",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <p>Query Parameter: {{ $route.query }}</p>\n    </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 360,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4411c448ac4caa",
        "type": "inject",
        "z": "c7015bd55ac9c57d",
        "name": "insert_user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "{\"d_score\":194}",
        "payloadType": "json",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "1d9c3b808be68e07"
            ]
        ]
    },
    {
        "id": "3d103008e2349583",
        "type": "ui-event",
        "z": "c7015bd55ac9c57d",
        "ui": "ed3a4854fa1b4db8",
        "name": "eventtest",
        "x": 160,
        "y": 1420,
        "wires": [
            [
                "f8a76b7828d0e5a8"
            ]
        ]
    },
    {
        "id": "f8a76b7828d0e5a8",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1460,
        "wires": []
    },
    {
        "id": "899bd7a9f2ce31ab",
        "type": "function",
        "z": "c7015bd55ac9c57d",
        "name": "function 3",
        "func": "msg.payload = 'hi'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "32d91f45c0238651"
            ]
        ]
    },
    {
        "id": "362c8eb1df4a411b",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "a61369b962f8c714"
            ]
        ]
    },
    {
        "id": "a61369b962f8c714",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "25d0fcd267a2c8ef"
            ]
        ]
    },
    {
        "id": "25d0fcd267a2c8ef",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ff7ed1fec796744",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e96428d3c05b83ed"
            ]
        ]
    },
    {
        "id": "e96428d3c05b83ed",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "0870987945a5e4cb",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "d8d3a27b729e9783"
            ]
        ]
    },
    {
        "id": "d8d3a27b729e9783",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "c42c7b32ce0235f1"
            ]
        ]
    },
    {
        "id": "c42c7b32ce0235f1",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "7990dc354a738d5b",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "dbf573f1be114c43"
            ]
        ]
    },
    {
        "id": "fad8b9ec333779f3",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "41f66b13af6e1ee2"
            ]
        ]
    },
    {
        "id": "41f66b13af6e1ee2",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "GET_USERS",
        "func": "msg.topic = \"SELECT * FROM users;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "7990dc354a738d5b"
            ]
        ]
    },
    {
        "id": "dbf573f1be114c43",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "d5b808832e3458f5",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "715a363715462c6f"
            ]
        ]
    },
    {
        "id": "49ac945123b5fd9f",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "GET_USERS",
        "func": "msg.topic = \"SELECT * FROM users;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 480,
        "wires": [
            [
                "d5b808832e3458f5"
            ]
        ]
    },
    {
        "id": "a8962c15f7d4c160",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "49ac945123b5fd9f"
            ]
        ]
    },
    {
        "id": "715a363715462c6f",
        "type": "link out",
        "z": "d974087eb4410441",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "164294998b95d982"
        ],
        "x": 595,
        "y": 580,
        "wires": []
    },
    {
        "id": "32ae6f909bb2a803",
        "type": "mqtt in",
        "z": "d974087eb4410441",
        "name": "",
        "topic": "info/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dc20097875203fb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "bb93e4ee023dabaa"
            ]
        ]
    },
    {
        "id": "bb93e4ee023dabaa",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "f02207af4cfba9b8",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "mqtt-send",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello from nodered",
        "payloadType": "str",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "396957e4591a092c",
                "b856821e585a2640"
            ]
        ]
    },
    {
        "id": "396957e4591a092c",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "b856821e585a2640",
        "type": "mqtt out",
        "z": "d974087eb4410441",
        "name": "",
        "topic": "info/test",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc20097875203fb9",
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "34ea1d322de1ddc2",
        "type": "link in",
        "z": "d974087eb4410441",
        "name": "link in 2",
        "links": [
            "414f9ce98347a63b"
        ],
        "x": 85,
        "y": 960,
        "wires": [
            [
                "0b3e6df4fe188922"
            ]
        ]
    },
    {
        "id": "cb643570aee91a84",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 920,
        "wires": []
    },
    {
        "id": "cbc77b34d7b89224",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 480,
        "y": 980,
        "wires": [
            [
                "cb643570aee91a84"
            ]
        ]
    },
    {
        "id": "0b3e6df4fe188922",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "INSERT_INTO_EXAMPLE",
        "func": "let json = msg.payload;\n\nvar score = json['d_score'];\n\nmsg.payload={}\n\n\nmsg.payload.tlf = json['d_score'].toString();\nmsg.payload.name = \"arne29\";\nmsg.payload.email = \"arn12@gmail.no\";\nmsg.payload.address = \"arnebakken\";\n\nmsg.topic=\"INSERT INTO users(`name`, `email`, `address`, `tlf`) VALUES(:name,:email,:address,:tlf);\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "cbc77b34d7b89224"
            ]
        ]
    },
    {
        "id": "77ef07ddbc346c22",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "a5837349ffd6fca1",
                "31c1372dfa15a0ca"
            ]
        ]
    },
    {
        "id": "22308172980d6de6",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "getUsers",
        "func": "msg.topic=\"SELECT * FROM users\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "77ef07ddbc346c22"
            ]
        ]
    },
    {
        "id": "a5837349ffd6fca1",
        "type": "link out",
        "z": "d974087eb4410441",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "34c826ae05784e1f"
        ],
        "x": 495,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2bd950a05a93757a",
        "type": "link in",
        "z": "d974087eb4410441",
        "name": "link in 4",
        "links": [
            "624afad07d47625d"
        ],
        "x": 95,
        "y": 1140,
        "wires": [
            [
                "22308172980d6de6"
            ]
        ]
    },
    {
        "id": "31c1372dfa15a0ca",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "164294998b95d982",
        "type": "link in",
        "z": "9c23ead5f4cd17b6",
        "d": true,
        "name": "link in 1",
        "links": [
            "715a363715462c6f"
        ],
        "x": 585,
        "y": 260,
        "wires": [
            [
                "befb8d61f627e759"
            ]
        ]
    },
    {
        "id": "befb8d61f627e759",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "d": true,
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "34c826ae05784e1f",
        "type": "link in",
        "z": "9c23ead5f4cd17b6",
        "name": "display_users",
        "links": [
            "a5837349ffd6fca1"
        ],
        "x": 165,
        "y": 500,
        "wires": [
            [
                "a53bc7abb7f5b15f"
            ]
        ]
    },
    {
        "id": "a53bc7abb7f5b15f",
        "type": "function",
        "z": "9c23ead5f4cd17b6",
        "name": "maybeUseless",
        "func": "let min = Math.round(Math.random()*1000);\nlet max = Math.round((Math.random()*10000)+1000);\n\nlet a = msg.payload\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "4eac0e0794c4133c"
            ]
        ]
    },
    {
        "id": "a294cf43e56ed1f8",
        "type": "inject",
        "z": "9c23ead5f4cd17b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "a53bc7abb7f5b15f"
            ]
        ]
    },
    {
        "id": "624afad07d47625d",
        "type": "link out",
        "z": "9c23ead5f4cd17b6",
        "name": "update_button",
        "mode": "link",
        "links": [
            "2bd950a05a93757a"
        ],
        "x": 345,
        "y": 700,
        "wires": []
    },
    {
        "id": "4eac0e0794c4133c",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "bf0f52c3edf63924",
        "type": "comment",
        "z": "9c23ead5f4cd17b6",
        "name": "",
        "info": "put update button here?",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "fd31fef1e40bc24f",
        "type": "function",
        "z": "9c23ead5f4cd17b6",
        "name": "update_button",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 720,
        "wires": [
            [
                "624afad07d47625d"
            ]
        ]
    },
    {
        "id": "ea5ff2cd0cdfe128",
        "type": "ui-template",
        "z": "9c23ead5f4cd17b6",
        "group": "d68e6862685d10df",
        "page": "",
        "ui": "",
        "name": "display_users",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n    hide-details></v-text-field>\n    <v-data-table v-model:search=\"search\" :items=\"msg?.payload\">\n      <template v-slot:header.current>\n        <!-- Override how we render the header for the \"current\" column -->\n        <div class=\"text-center\">Center-Aligned</div>\n      </template>\n\n      <template v-slot:item.target=\"{ item }\">\n        <!-- Add a custom suffix to the value for the \"target\" column -->\n        {{ item.target }}°C\n      </template>\n\n      <template v-slot:item.current=\"{ item }\">\n        <!-- Render a Linear Progress Bar for the \"current\" column -->\n        <v-progress-linear v-model=\"item.current\" min=\"15\" max=\"25\" height=\"25\" :color=\"getColor(item)\">\n          <template v-slot:default=\"{ value }\">\n            <strong>{{ item.current }}°C</strong>\n          </template>\n        </v-progress-linear>\n      </template>\n    \n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        search: ''\n      }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      getColor: function (item) {\n        if (item.current > item.target) {\n          return 'red'\n        } else {\n          return 'green'\n        }\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "48dc7ec4a79bb3a1"
            ]
        ]
    },
    {
        "id": "48dc7ec4a79bb3a1",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "5c9ea1d66c64c31a",
        "type": "inject",
        "z": "9c23ead5f4cd17b6",
        "name": "insert_user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "[{\"room\":\"Living Room\",\"id\":\"1234\",\"target\":18.1,\"current\":20},{\"room\":\"Bathroom Room\",\"id\":\"5678\",\"target\":19.5,\"current\":18},{\"room\":\"Kitchen Room\",\"id\":\"9101\",\"target\":18.1,\"current\":17.6}]",
        "payloadType": "json",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "ea5ff2cd0cdfe128"
            ]
        ]
    },
    {
        "id": "dc1d7aadb5cf6f36",
        "type": "ui-template",
        "z": "9c23ead5f4cd17b6",
        "g": "0591b57e8f20d00d",
        "group": "",
        "page": "",
        "ui": "ed3a4854fa1b4db8",
        "name": "css_all_pages",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "\n\nbody {\n    font-family: monospace;\n}\n\n\n.v-main {\n    background-image: url(\"\thttps://www.transparenttextures.com/patterns/batthern.png\");\n    background-repeat: repeat;\n}\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 140,
        "y": 60,
        "wires": [
            []
        ]
    }
]