Code/Server/docker/node-red-data/flows.json
[
    {
        "id": "c7015bd55ac9c57d",
        "type": "tab",
        "label": "Communication",
        "disabled": false,
        "info": "Various communication with devices",
        "env": []
    },
    {
        "id": "d974087eb4410441",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c23ead5f4cd17b6",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "For displaying various info",
        "env": []
    },
    {
        "id": "1292ba0fe2f33fc4",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dff9176621056133",
        "type": "group",
        "z": "c7015bd55ac9c57d",
        "name": "Control Cat",
        "style": {
            "label": true
        },
        "nodes": [
            "bb8e501cbe7d5d9d",
            "e4f62c1015b6a187",
            "e5c5cf0d6bb917c5",
            "bbd793f95ec63c3e",
            "b7af9e519ca5b9d7",
            "a2dec35c0fe9842d",
            "308f248214133e70",
            "8955a8be5e602442"
        ],
        "x": 34,
        "y": 79,
        "w": 612,
        "h": 262
    },
    {
        "id": "f2952bbb2ad433e2",
        "type": "MySQLdatabase",
        "name": "TestDB",
        "host": "${DB_HOST}",
        "port": "${DB_PORT}",
        "db": "testdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "dc20097875203fb9",
        "type": "mqtt-broker",
        "name": "docker-mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed3a4854fa1b4db8",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "91be7011842be941",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#5c8192",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a20dc435c727eb9b",
        "type": "ui-page",
        "name": "Home",
        "ui": "ed3a4854fa1b4db8",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "91be7011842be941",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "78b509623ddc3923",
        "type": "ui-group",
        "name": "Control",
        "page": "a20dc435c727eb9b",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4880197e99519344",
        "type": "ui-page",
        "name": "Contact",
        "ui": "ed3a4854fa1b4db8",
        "path": "/contact",
        "icon": "home",
        "layout": "grid",
        "theme": "91be7011842be941",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb8e501cbe7d5d9d",
        "type": "function",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "Keypress",
        "func": "var txt = flow.get(\"text\") || \"\";\ntxt = msg.payload\nmsg.payload = txt\nflow.set(\"text\", txt)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e4f62c1015b6a187",
                "e5c5cf0d6bb917c5",
                "8955a8be5e602442"
            ]
        ]
    },
    {
        "id": "e4f62c1015b6a187",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "e5c5cf0d6bb917c5",
        "type": "mqtt out",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "control",
        "topic": "car/control",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc20097875203fb9",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "5631cd8e37f10e5f",
        "type": "inject",
        "z": "c7015bd55ac9c57d",
        "name": "insert_user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "{\"d_score\":194}",
        "payloadType": "json",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "6eb947dff35c7a58"
            ]
        ]
    },
    {
        "id": "6eb947dff35c7a58",
        "type": "json",
        "z": "c7015bd55ac9c57d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "414f9ce98347a63b"
            ]
        ]
    },
    {
        "id": "414f9ce98347a63b",
        "type": "link out",
        "z": "c7015bd55ac9c57d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "34ea1d322de1ddc2"
        ],
        "x": 455,
        "y": 380,
        "wires": []
    },
    {
        "id": "bbd793f95ec63c3e",
        "type": "debug",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "b7af9e519ca5b9d7",
        "type": "comment",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "",
        "info": "<script>\n\n    \n    (function($scope) {\n    \n \n    console.log('Hello');\n\n    let keys = {};\n\n    document.addEventListener('keydown', (event) => {\n    if (event.repeat) return;\n    \n    if (event.key != \"CapsLock\") {\n        keys[event.key] = true;\n        let msg = {\"payload\": keys, \"topic\": \"keydown\"};\n        $scope.send(msg);\n    }\n    });\n\n    document.addEventListener('keyup', (event) => {\n    var keyName = event.key;\n    var keyCode = event.code;\n    delete keys[event.key];\n    let msg = {\"payload\": keys, \"topic\": \"keyup\"};\n    $scope.send(msg);\n\n    },{capture: true});\n    })(scope);\n</script>",
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "a2dec35c0fe9842d",
        "type": "comment",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "name": "",
        "info": "display here with \n\n{{msg.payload}}\n\nui_text",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "308f248214133e70",
        "type": "ui-template",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "group": "78b509623ddc3923",
        "page": "",
        "ui": "",
        "name": "get_events",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<script>\n\n    \n    //(function($scope) {\n    \n \n    console.log('Hello');\n\n    let keys = {};\n\n    document.addEventListener('keydown', (event) => {\n    if (event.repeat) return;\n    \n    if (event.key != \"CapsLock\") {\n        keys[event.key] = true;\n        let msg = {\"payload\": keys, \"topic\": \"keydown\"};\n        //send(msg);\n        console.log(msg)\n    }\n    });\n\n    document.addEventListener('keyup', (event) => {\n    var keyName = event.key;\n    var keyCode = event.code;\n    delete keys[event.key];\n    let msg = {\"payload\": keys, \"topic\": \"keyup\"};\n    console.log(msg)\n\n    },{capture: true});\n    //})(scope);\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "bb8e501cbe7d5d9d",
                "bbd793f95ec63c3e"
            ]
        ]
    },
    {
        "id": "8955a8be5e602442",
        "type": "ui-text",
        "z": "c7015bd55ac9c57d",
        "g": "dff9176621056133",
        "group": "78b509623ddc3923",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "show_input",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "{{msg.payload}}",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "362c8eb1df4a411b",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "a61369b962f8c714"
            ]
        ]
    },
    {
        "id": "a61369b962f8c714",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "25d0fcd267a2c8ef"
            ]
        ]
    },
    {
        "id": "25d0fcd267a2c8ef",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ff7ed1fec796744",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e96428d3c05b83ed"
            ]
        ]
    },
    {
        "id": "e96428d3c05b83ed",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "0870987945a5e4cb",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "d8d3a27b729e9783"
            ]
        ]
    },
    {
        "id": "d8d3a27b729e9783",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "c42c7b32ce0235f1"
            ]
        ]
    },
    {
        "id": "c42c7b32ce0235f1",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "7990dc354a738d5b",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "dbf573f1be114c43"
            ]
        ]
    },
    {
        "id": "fad8b9ec333779f3",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "41f66b13af6e1ee2"
            ]
        ]
    },
    {
        "id": "41f66b13af6e1ee2",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "GET_USERS",
        "func": "msg.topic = \"SELECT * FROM users;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "7990dc354a738d5b"
            ]
        ]
    },
    {
        "id": "dbf573f1be114c43",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "d5b808832e3458f5",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "715a363715462c6f"
            ]
        ]
    },
    {
        "id": "49ac945123b5fd9f",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "GET_USERS",
        "func": "msg.topic = \"SELECT * FROM users;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 480,
        "wires": [
            [
                "d5b808832e3458f5"
            ]
        ]
    },
    {
        "id": "a8962c15f7d4c160",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "49ac945123b5fd9f"
            ]
        ]
    },
    {
        "id": "715a363715462c6f",
        "type": "link out",
        "z": "d974087eb4410441",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "164294998b95d982"
        ],
        "x": 595,
        "y": 580,
        "wires": []
    },
    {
        "id": "32ae6f909bb2a803",
        "type": "mqtt in",
        "z": "d974087eb4410441",
        "name": "",
        "topic": "info/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dc20097875203fb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "bb93e4ee023dabaa"
            ]
        ]
    },
    {
        "id": "bb93e4ee023dabaa",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "f02207af4cfba9b8",
        "type": "inject",
        "z": "d974087eb4410441",
        "name": "mqtt-send",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello from nodered",
        "payloadType": "str",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "396957e4591a092c",
                "b856821e585a2640"
            ]
        ]
    },
    {
        "id": "396957e4591a092c",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "b856821e585a2640",
        "type": "mqtt out",
        "z": "d974087eb4410441",
        "name": "",
        "topic": "info/test",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc20097875203fb9",
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "34ea1d322de1ddc2",
        "type": "link in",
        "z": "d974087eb4410441",
        "name": "link in 2",
        "links": [
            "414f9ce98347a63b"
        ],
        "x": 85,
        "y": 960,
        "wires": [
            [
                "0b3e6df4fe188922"
            ]
        ]
    },
    {
        "id": "cb643570aee91a84",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 920,
        "wires": []
    },
    {
        "id": "cbc77b34d7b89224",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 480,
        "y": 980,
        "wires": [
            [
                "cb643570aee91a84"
            ]
        ]
    },
    {
        "id": "0b3e6df4fe188922",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "INSERT_INTO_EXAMPLE",
        "func": "let json = msg.payload;\n\nvar score = json['d_score'];\n\nmsg.payload={}\n\n\nmsg.payload.tlf = json['d_score'].toString();\nmsg.payload.name = \"arne29\";\nmsg.payload.email = \"arn12@gmail.no\";\nmsg.payload.address = \"arnebakken\";\n\nmsg.topic=\"INSERT INTO users(`name`, `email`, `address`, `tlf`) VALUES(:name,:email,:address,:tlf);\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "cbc77b34d7b89224"
            ]
        ]
    },
    {
        "id": "77ef07ddbc346c22",
        "type": "mysql",
        "z": "d974087eb4410441",
        "mydb": "f2952bbb2ad433e2",
        "name": "mdb-test",
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "a5837349ffd6fca1",
                "31c1372dfa15a0ca"
            ]
        ]
    },
    {
        "id": "22308172980d6de6",
        "type": "function",
        "z": "d974087eb4410441",
        "name": "getUsers",
        "func": "msg.topic=\"SELECT * FROM users\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "77ef07ddbc346c22"
            ]
        ]
    },
    {
        "id": "a5837349ffd6fca1",
        "type": "link out",
        "z": "d974087eb4410441",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "34c826ae05784e1f"
        ],
        "x": 495,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2bd950a05a93757a",
        "type": "link in",
        "z": "d974087eb4410441",
        "name": "link in 4",
        "links": [
            "624afad07d47625d"
        ],
        "x": 95,
        "y": 1140,
        "wires": [
            [
                "22308172980d6de6"
            ]
        ]
    },
    {
        "id": "31c1372dfa15a0ca",
        "type": "debug",
        "z": "d974087eb4410441",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "164294998b95d982",
        "type": "link in",
        "z": "9c23ead5f4cd17b6",
        "d": true,
        "name": "link in 1",
        "links": [
            "715a363715462c6f"
        ],
        "x": 225,
        "y": 220,
        "wires": [
            [
                "befb8d61f627e759"
            ]
        ]
    },
    {
        "id": "befb8d61f627e759",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "d": true,
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb37b16bfd7500b4",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "34c826ae05784e1f",
        "type": "link in",
        "z": "9c23ead5f4cd17b6",
        "name": "display_users",
        "links": [
            "a5837349ffd6fca1"
        ],
        "x": 165,
        "y": 500,
        "wires": [
            [
                "a53bc7abb7f5b15f"
            ]
        ]
    },
    {
        "id": "a53bc7abb7f5b15f",
        "type": "function",
        "z": "9c23ead5f4cd17b6",
        "name": "maybeUseless",
        "func": "let min = Math.round(Math.random()*1000);\nlet max = Math.round((Math.random()*10000)+1000);\n\nlet a = msg.payload\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "4eac0e0794c4133c"
            ]
        ]
    },
    {
        "id": "a294cf43e56ed1f8",
        "type": "inject",
        "z": "9c23ead5f4cd17b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "a53bc7abb7f5b15f"
            ]
        ]
    },
    {
        "id": "624afad07d47625d",
        "type": "link out",
        "z": "9c23ead5f4cd17b6",
        "name": "update_button",
        "mode": "link",
        "links": [
            "2bd950a05a93757a"
        ],
        "x": 345,
        "y": 700,
        "wires": []
    },
    {
        "id": "4eac0e0794c4133c",
        "type": "debug",
        "z": "9c23ead5f4cd17b6",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "bf0f52c3edf63924",
        "type": "comment",
        "z": "9c23ead5f4cd17b6",
        "name": "",
        "info": "put update button here?",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "fd31fef1e40bc24f",
        "type": "function",
        "z": "9c23ead5f4cd17b6",
        "name": "update_button",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 720,
        "wires": [
            [
                "624afad07d47625d"
            ]
        ]
    }
]